* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans Condensed";
    color: #000000;
}
body {
    background-color: #fff;
}
html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
}
img {
    display: block;
    max-width: 100%;
}
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
    cursor: pointer;
}
ol,
ul {
    list-style: none;
}
ol,
ul {
    padding-left: 0;
}
.button {
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    display: block;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button img {
    margin-right: 0.5rem;
    max-height: 1.3rem;
}
.button:focus {
    outline: none;
}
.button.green {
    color: #fff;
    background-color: #2c7811;
    border-color: #2c7811;
}
.button.green:hover {
    color: #fff;
    background-color: rgba(44, 120, 17, 0.25);
    border-color: #2c7811;
}
.button.green:active {
    color: #fff;
    background-color: #2c7811;
    border-color: #2c7811;
}
.button.green:disabled {
    color: #fff;
    background-color: #2c7811;
    border-color: #2c7811;
    opacity: 0.65;
}
.button.blue {
    color: #fff;
    background-color: #15539c;
    border-color: #15539c;
}
.button.blue:hover {
    color: #fff;
    background-color: rgba(21, 83, 156, 0.25);
    border-color: #15539c;
}
.button.blue:active {
    color: #fff;
    background-color: #15539c;
    border-color: #15539c;
}
.button.blue:disabled {
    color: #fff;
    background-color: #15539c;
    border-color: #15539c;
    opacity: 0.65;
}
.button-long{
    width: 100px;
}
.link {
    color: #000000;
    font-weight: 800;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
nav {
    position: absolute !important;
    background: transparent;
    z-index: 99999;
    width: 100%;
}
.navbar {
    height: 100px;
    padding-left: 5em;
    padding-right: 5em;
}
.navbar-col .nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}
.navbar-col .nav-list .nav-item {
    margin-right: 1em;
}
.navbar-col .nav-list .nav-item .nav-link {
    padding: 0;
}
.navbar-col .nav-list .nav-item .nav-link img {
    width: 40px;
    transition: all 0.5s ease;
    opacity: 1;
}
.navbar-col .nav-list .nav-item .nav-link:hover img {
    box-shadow: 0 0 5px 1px #6d6d6d;
}
.navbar-col .nav-list .nav-item .nav-link:active img {
    opacity: 0.7;
}
.navbar-col .nav-list .nav-item:last-child {
    margin-right: 0;
}
.main-div {
    position: relative;
    height: 100vh;
}
.login-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../img/bg1.png"), url("../img/bg2.png");
    background-position: top right, bottom left;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-div {
    width: auto;
    text-align: center;
    justify-content: center;
}
.login-form {
    padding: 20px 30px;
    background: #d9d9d9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.form-div img {
    margin-bottom: 30px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.form-group {
    position: relative;
}
.login-form .form-title {
    font-size: 30px;
    margin-bottom: 1em;
}
.login-form .form-group input {
    padding: 20px;
    height: 45px;
    width: 400px;
    background: #fff;
}
.login-form .form-group label {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    transition: 0.5s;
}
.login-form .form-group input:focus {
    box-shadow: unset;
    outline: unset;
    border: unset;
}
.login-form .form-group input:focus ~ .form-label,
.login-form .form-group input:valid ~ .form-label {
    top: -20px;
    left: 0;
    color: #111;
    font-size: 12px;
}
.login-form .form-check {
    padding: 0px;
}
.login-form .form-check input {
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 1);
}
.login-form .form-check input:focus {
    box-shadow: unset;
}
.form-check-input:checked[type="checkbox"] {
    box-shadow: unset;
    outline: unset;
    background-color: #04bc00;
    background-image: url(../img/icons/tick.svg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}
.login-form .form-check label {
    font-size: 15px;
    color: #000000;
}
